<div class="content" role="main">
    <div class="services_section layout_padding">
       <div class="container">
         <div class="row">
           <div class="col-md-8">
             <h1 class="services_taital">WELCOME TO FINAnCIAL SERVICES</h1>
             <p class="services_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it </p>
             <br/>
             <br/>
           </div>
           <div class="moremore_bt"></div>
           <div class="col-md-3">
             <button class="button-33" role="button" routerLink="/summarization"> Proceed to explored </button>
             
           </div>
           
   
           <div class="col-md-4">
             <div><img src="img-1.png" ></div>
           </div>
         </div>
       </div>
     </div>
     <!-- HTML !-->
   
   </div>
   
   <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
   <!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
   <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
   <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
   <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
   <!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
   <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->